{% extends "global/Page.html" %}

{% block title %}
    Danke!
{% endblock %}

{% block content %}
<p>Vielen Dank für Ihre Teilnahme an meiner Studie!</p>
<p><strong>Sie haben nun die Möglichkeit, an einer Verlosung teilzunehmen.</strong></p>
<p>Hierbei handelt es sich um einen exklusiven Lebensmittel-Geschenkkorb, der Ihnen per Post zugestellt wird. Geben Sie hierfür eine E-Mail Adresse an, über die wir Sie benachrichtigen können.</p>
<p>Um die Studie zu beenden, <strong>klicken Sie bitte auf "Absenden"</strong>.</p>

<form method="post">
    {{ form.email }}<br>
    <button type="submit" class="btn btn-primary">Absenden</button>
</form>

{% endblock %}
