{% extends "global/Page.html" %}
{% load static %}

{% block content %}
    <style>
        .message-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        .message-container p {
            margin: 0;
            text-align: center;
            line-height: 1.1;
            font-weight: normal; 
        }
        .co2-value {
            font-size: xx-large;
            font-weight: bold;
            margin-top: 5px;
        }
        .additional-text {
            width: 80%; 
            text-align: center;
            margin: 0 auto;
        }
        /* .image-and-label-container {
            display: flex;
            flex-direction: row; 
            align-items: flex-end; 
            justify-content: center;
            margin-bottom: 20px; 
        } */
        .image-and-label-container img {
            margin: 0 5px;
        }
        .label-container {
            width: 35%;
            height: auto;
            margin-left: 10px;
        }
        .image-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 40px; 
        }
        .food-name {
            font-size: large;
            font-weight: bold; 
            margin-bottom: 10px; 
        }
        .selected {
            border: 1.5px solid black; 
            padding: 10px;
            border-radius: 20px; 
        } 
        form {
            margin-top: 30px; 
            text-align: left; 
        }
        .nonselected {
            margin-top: 10px;
        }
    </style>

{% block title %}
   Ihre Auswahl in der letzten Runde
{% endblock %}

    <div style="display: flex; justify-content:center; align-items: flex-start; max-width: 620px; margin-left: auto; margin-right: auto;">
        <div style="text-align: center; width: 50%;">
            <div class="{% if chosen == 'A' %}selected {%else%} nonselected  {% endif %}">
                <p class="food-name">{{ AName }}</p> <!-- Bezeichnung oberhalb des Bildes -->
                <div class="image-and-label-container">
                    <img src="{{ APicture }}" alt="{{ AName }}" style="width:auto; height:200px; max-width:200px; max-height:200px; opacity: {{ AOpacity }};">
                    <img src="{{ ALabel }}" alt="Non-Sustainable Label" class="label-container" style="opacity: {{ ALabelOpacity }};">
                </div>
                <div class="message-container" style="opacity: {% if chosen == 'B' %}0.7{% else %}1{% endif %};">
                    <p>Dieses Lebensmittel verursacht</p>
                    <p class="co2-value">{{ AMessage | safe }}</p>
                    {% if chosen == 'A' and sustainable_side in ['left', 'right'] %}
                    <div style="height: 20px;"></div>
                    <p class="additional-text">{{ AdditionalText | safe }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div style="text-align: center; width: 50%;">
            <div class="{% if chosen == 'B' %}selected  {%else%} nonselected  {% endif %}">
                <p class="food-name">{{ BName }}</p> <!-- Bezeichnung oberhalb des Bildes -->
                <div class="image-and-label-container">
                    <img src="{{ BPicture }}" alt="{{ BName }}" style="width:auto; height:200px; max-width:200px; max-height:200px; opacity: {{ BOpacity }};">
                    <img src="{{ BLabel }}" alt="Non-Sustainable Label" class="label-container" style="opacity: {{ BLabelOpacity }};">
                </div>
                <div class="message-container" style="opacity: {% if chosen == 'A' %}0.7{% else %}1{% endif %};">
                    <p>Dieses Lebensmittel verursacht</p>
                    <p class="co2-value">{{ BMessage | safe }}</p>
                    {% if chosen == 'B' and sustainable_side in ['left', 'right'] %}
                    <div style="height: 20px;"></div>
                    <p class="additional-text">{{ AdditionalText | safe }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <form method="post">
        <button type="submit" style="display:block; margin-top: 30px;" id="next-button" disabled class="btn btn-primary">Weiter</button>
    </form>
{% endblock %}

{% block scripts %}
<script>

enablebtn = function () {
                document.getElementById("next-button").disabled = false;
            }


window.onload = function () {
    setTimeout(function () { enablebtn() }, 1500);
}

</script>
{% endblock %}