{% extends "global/Page.html" %}
{% load static %}

{% block content %}
    <style>
        .message-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .message-container p {
            margin: 0;
            text-align: center;
            line-height: 1.1;
        }
        .co2-value {
            font-size: xx-large;
            font-weight: bold;
            margin-top: 5px;
        }
        .image-and-label-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .image-and-label-container img {
            margin: 0 5px;
        }
        .image-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 40px; 
        }
        form {
            margin-top: 30px; 
        }
    </style>

{% block title %}
   Ihre Auswahl in der letzten Runde
{% endblock %}

    <div style="display: flex; justify-content:center; align-items: flex-start;max-width: 620px; margin-left: auto; margin-right: auto;">
        <div style="text-align: center; width: 50%;">
            <div class="image-and-label-container">
                <img src="{{ APicture }}" alt="{{ AName }}" style="width:auto; height:200px; max-width:200px; max-height:200px; opacity: {{ AOpacity }};">
                <p>
                <span style="font-size: large; font-weight: bold;  opacity: {{ AOpacity }};"> {{AName}}</span> </p>

                <img src="{{ ALabel }}" alt="Non-Sustainable Label" style="width: 35%; height: auto; opacity: {{ ALabelOpacity }}; margin-left: 10px;">
                <div class="message-container">
                    <p style="font-weight: normal;">Dieses Lebensmittel verursacht</p>
                    <p class="co2-value">{{ AMessage | safe }}</p>
              
            </div>
            </div>
           
        </div>
        <div style="text-align: center;  width: 50%;">
            <div class="image-and-label-container">
                <img src="{{ BPicture }}" alt="{{ BName }}" style="width:auto; height:200px; max-width:200px; max-height:200px; opacity: {{ BOpacity }};">
                <p>
                    <span style="font-size: large; font-weight: bold;  opacity: {{ BOpacity }};"> {{BName}}</span> </p>                
                    <img src="{{ BLabel }}" alt="Non-Sustainable Label" style="width: 35%; height: auto; opacity: {{ BLabelOpacity}}; margin-left: 10px;">
                    <div class="message-container">
               
                        <p style="font-weight: normal;">Dieses Lebensmittel verursacht</p>
                        <p class="co2-value">{{ BMessage | safe }}</p>
                
                </div>
            </div>
          
        </div>
    </div>
    <form method="post" style="text-align: center; ">
        <button type="submit" style="display:block; margin-left:auto; margin-right:auto; margin-top: 30px;" class="btn btn-primary">Weiter</button>
    </form>
{% endblock %}








