{% extends "global/Page.html" %}
{% load static %}

{% block content %}
    <div style="display: flex; justify-content: center; align-items: flex-start; max-width: 620px; margin-left: auto; margin-right: auto;">
        <div style="flex: 1; text-align: center;">
            <div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
                <img src="{{ APicture }}" alt="{{ AName }}" style="width:auto; height:200px; max-width:200px; max-height:200px; opacity: {{ AOpacity }};">
                <img src="{{ ALabel }}" alt="Sustainable Label" style="width: 25%; height: auto; opacity: {{ ALabelOpacity }}; margin-left: 10px;">
            </div>
            <p style="font-weight: normal; margin-top: 10px; text-align: left; max-width: 200px; margin-left: auto; margin-right: auto;">
                {% if AMessage %}
                    {{ AMessage }}
                {% else %}
                    &nbsp;
                {% endif %}
            </p>
        </div>
        <div style="flex: 1; text-align: center;">
            <div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
                <img src="{{ BPicture }}" alt="{{ BName }}" style="width:auto; height:200px; max-width:200px; max-height:200px; opacity: {{ BOpacity }};">
                <img src="{{ BLabel }}" alt="Non-Sustainable Label" style="width: 25%; height: auto; opacity: {{ BLabelOpacity }}; margin-left: 10px;">
            </div>
            <p style="font-weight: normal; margin-top: 10px; text-align: left; max-width: 200px; margin-left: auto; margin-right: auto;">
                {% if BMessage %}
                    {{ BMessage }}
                {% else %}
                    &nbsp;
                {% endif %}
            </p>
        </div>
    </div>
    <form method="post" style="text-align: center; margin-top: 20px;">
        <button type="submit" class="btn btn-primary">Weiter</button>
    </form>
{% endblock %}





