{% extends "global/Page.html" %}

{% block title %}
    Informationen zur Studienteilnahme
{% endblock %}

{% block content %}
    <p>Sehr geehrte Probandin, sehr geehrter Proband,</p>
    <p>Vielen Dank für Ihre Teilnahme an dieser Studie. Die Dauer der Befragung beträgt <strong>ungefähr 10 Minuten</strong>.</p>
    <p>Studierende der Universität Basel erhalten für ihre Teilnahme <strong>0,5 Unterschriften</strong>. Zudem haben alle Teilnehmenden die Möglichkeit, am Ende der Studie an einer Verlosung teilzunehmen.</p>
    <p>Die Studie wird durch die Abteilung "Sustainability and Behavior Change" der Universität Basel finanziert.</p>
    <p>Die Studienteilnahme ist mit keinerlei gesundheitlichen Risiken verbunden. Alle in dieser Studie gesammelten Daten werden anonymisiert ausgewertet und ausschliesslich für wissenschaftliche Zwecke verwendet. Die Ergebnisse der Studie werden anonymisiert in einer Gruppe zusammengefasst und ohne Bezug auf konkrete Personen wissenschaftlich veröffentlicht.</p>
    <p>Ihre Teilnahme an dieser Studie ist freiwillig. Sie haben jederzeit die Möglichkeit, die Studie ohne Angabe von Gründen abzubrechen. Die Einwilligung zur Verwendung Ihrer Daten können Sie während der Studienteilnahme jederzeit widerrufen.</p>
    <p>Bei Fragen wenden Sie sich bitte an:<br>
    <strong>lara.chesi@stud.unibas.ch</strong></p>
    
    {{ form }}

    {{ formfield 'consent' }}
    
    <div style="margin-top: 20px;"></div>
    <button type="submit" class="btn btn-primary">Weiter</button>
    
{% endblock %}
