{% extends "global/Page.html" %}

{% block title %}
    Informationen zur Studienteilnahme
{% endblock %}

{% block content %}
    <p>Sehr geehrte Probandin, sehr geehrter Proband,</p>
    <p>Vielen Dank für Ihre Teilnahme an dieser Studie. Die Dauer des Experiments beträgt <strong>ungefähr 10 Minuten</strong>.</p>
    <p>Die Studienteilnahme ist mit keinerlei gesundheitlichen Risiken verbunden. Die Fragebögen können Fragen persönlicher Natur beinhalten. Für Ihre Teilnahme erhalten Sie am Ende der Untersuchung eine symbolische Aufwandsentschädigung.</p>
    <p>Die Studie wird durch der Abteilung Sustainability and Behavior Change der Universität Basel finanziert.</p>
    <p>Alle in dieser Studie gesammelten Daten werden anonymisiert ausgewertet und ausschließlich von Fachleuten für wissenschaftliche Zwecke verwendet. Die Ergebnisse der Studie werden anonymisiert in einer Gruppe zusammengefasst und ohne Bezug auf konkrete Personen wissenschaftlich veröffentlicht.</p>
    <p>Ihre Teilnahme an dieser Studie ist freiwillig. Sie haben jederzeit die Möglichkeit, die Studie ohne Angabe von Gründen abzubrechen. Die Einwilligung zur Verwendung Ihrer Daten können Sie während der Studienteilnahme jederzeit widerrufen. Ein nachträglicher Widerruf nach Beendigung der Studie ist aufgrund der anonymisierten Speicherung Ihrer Daten nicht möglich.</p>
    <p>Bei Fragen wenden Sie sich bitte an:<br>
    <strong>lara.chesi@stud.unibas.ch</strong></p>
    
    {{ form }}

    {{ formfield 'consent' }}
    
    <button type="submit" class="btn btn-primary">Weiter</button>
    
{% endblock %}
