{% extends "global/Page.html" %}

{% block title %}
    Informationen zum Ablauf der Studie
{% endblock %}

{% block content %}
<p>Im folgenden Abschnitt werden über 15 Runden hinweg jeweils zwei Lebensmitteloptionen präsentiert.</p>
<p>Jede Option ist mit zusätzlichen Informationen ausgestattet, die sich hinter gelben Feldern verbergen. Durch ein Anklicken werden die Informationen aufgedeckt.</p>

<p>Bitte nehmen Sie sich Zeit, um sich mit dem <strong>Preis, dem Co2-Äquivalent und dem Proteingehalt</strong> vertraut zu machen und <strong>treffen Sie anhand dieser Angaben eine Entscheidung.</strong></p>

    
    {{ form }}

    
    <button type="submit" class="btn btn-primary">Weiter</button>

{% endblock %}