{% extends "global/Page.html" %}

{% load static %}

{% block title %}
    Informationen zum Ablauf der Studie
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}


<div  style=" border-style: dashed; border-color: red; padding:20px 20px  0 20px; margin-bottom:20px;"> <p> <b>  Ihre letzte Antwort war falsch. Bitte lesen Sie die Erklärungen genau und stellen Sie sicher, dass Sie alles verstehen. </b></p></div>

<!-- Tab content -->
<div class="tab-content">
    <div class="tab-pane fade show active" id="instructions" role="tabpanel">
        <p>In dieser Studie treffen Sie 15 Entscheidungen zwischen je zwei Lebensmitteloptionen. Bitte wählen Sie das Lebensmittel/Gericht aus, das Ihnen mehr zusagt.</p>
        <p>Sie haben ausserdem die Möglichkeit, mehr Informationen über die Lebensmittel zu erhalten. Durch Anklicken/Antippen auf das entsprechende Feld werden die Informationen aufgedeckt.</p>
        <ul>
            <li><b>Preis:</b> Kosten für das Lebensmittel/Gericht</li>
            <li><b>CO2-Äquivalente pro Kilogramm des Lebensmittels (CO2e/ kg):</b> So viele klimaschädliche Gase werden durch die Produktion (Anbau, Zubereitung, Aufzucht etc.) eines Kilogramms des Lebensmittels verursacht. Die Berechnungen entsprechen den Umweltwirkungen und der Energiebilanz des Produktes während des gesamten Lebensweges. Andere Treibhausgase (z.B. Methan) wurden entsprechend ihrer Klimawirkung in CO2-Einheiten umgerechnet.</li>
            <li><b>Proteine:</b> Nährwertangabe für den Eiweissgehalt in einer Portion des entsprechenden Lebensmittels.</li>
        </ul>
        <p style="font-weight: normal;">
            Am Ende der Studie haben Sie die Möglichkeit, an einem Gewinnspiel teilzunehmen, bei dem Sie mit etwas Glück für einen der Gewinnkörbe ausgelost werden. Dieser besteht aus Lebensmitteln, die Sie in dieser Studie ausgewählt haben. Treffen Sie Ihre Wahl also mit Bedacht!

        </p>
       

        <button type="submit" style="float: right; margin-top: 2vh;" class="btn btn-primary">Weiter</button>
    </div>


</div>
{% endblock %}

