{% extends "global/Page.html" %}
{% load static %}

{% extends "global/Page.html" %}
{% load static %}

{% block content %}
<h3>Verständnis Check</h3>
<p>Um sicher zu gehen, dass Sie die vorherige Seite aufmerksam gelesen und verstanden haben, beantworten Sie bitte folgende Frage, um mit der Umfrage fortzufahren.</p>
<p><b>{{ question }}</b></p>
<form id="comprehension-form" method="post">
    <input type="radio" name="comprehension_answer" value="{{ answers.0 }}"> {{ answers.0 }}<br>
    <input type="radio" name="comprehension_answer" value="{{ answers.1 }}"> {{ answers.1 }}<br>
    <input type="radio" name="comprehension_answer" value="{{ answers.2 }}"> {{ answers.2 }}<br>
    <input type="radio" name="comprehension_answer" value="{{ answers.3 }}"> {{ answers.3 }}<br>
    <div style="margin-top: 20px;"></div> 
    <button type="submit" class="btn btn-primary">Weiter</button>
</form>
{% if comprehension_check_failed %}
    <p style="color: red;">Ihre Antwort ist falsch. Bitte lesen Sie die vorherigen Anweisungen erneut und versuchen Sie es erneut.</p>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
    var correctAnswer = "{{ correct_answer }}";

    function checkAnswer() {
        var form = document.getElementById('comprehension-form');
        var formData = new FormData(form);
        var answer = formData.get('comprehension_answer');

        if (answer === correctAnswer) {
            form.submit();
        } else {
            alert('Ihre Antwort ist falsch. Sie werden zur vorherigen Seite zurückgeleitet.');
            window.location.href = "instruction/instruction";
        }
    }
</script>
{% endblock %}






