{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Kennen Sie den Klima-Fussabdruck der folgenden Nahrungsmittel?
{% endblock %}

{% block content %}
<p> Schätzen Sie den CO2e-Wert für die beiden unten abgebildeten Lebensmittel basierend auf Ihrem Wissen und Ihren Erfahrungen in CO2e pro Kilogramm Lebensmittel. Bitte versuchen Sie, so genau wie möglich zu sein.</p>
<p> Dies ist Runde Nummer {{ round_number }} von {{ Constants.num_rounds }}. </p>

<div class="row">
    <div class="col-6">
        <div style="margin-left: auto; margin-right: auto; text-align: center;">
            <img style="display: block; width:auto; height:200px; max-width:200px; max-height:200px;" src="{{ APicture }}">
            <div style="text-align: left; margin-top: 10px;">
                <h4 style="margin: 0;">{{ ADescription }}</h4>
                <div style="margin-top: 5px; display: flex; align-items: center;">
                    <input type="number" name="AEstimate" id="aestimate" class="form-control" style="width: 30%;" />
                    <span style="margin-left: 5px; font-size: 14px;">g CO2e/ kg</span>
                </div>
            </div>
            {{ formfield_errors 'AEstimate' }}
        </div>
    </div>

    <div class="col-6">
        <div style="margin-left: auto; margin-right: auto; text-align: center;">
            <img style="display: block; width:auto; height:200px; max-width:200px; max-height:200px;" src="{{ BPicture }}">
            <div style="text-align: left; margin-top: 10px;">
                <h4 style="margin: 0;">{{ BDescription }}</h4>
                <div style="margin-top: 5px; display: flex; align-items: center;">
                    <input type="number" name="BEstimate" id="bestimate" class="form-control" style="width: 30%;" />
                    <span style="margin-left: 5px; font-size: 14px;">g CO2e/ kg</span>
                </div>
            </div>
            {{ formfield_errors 'BEstimate' }}
        </div>
    </div>
</div>

<div>
    <p> 
        <span style="font-size: x-large;"> &#9432; </span>  Mit CO2e sind Kohlenstoffdioxid-Äquivalente gemeint. D.h. der gesamte Treibhausgasausstoss eines Lebensmittels (durch Anbau, Aufzucht, Produktion, Transport, etc.) wird zusammengerechnet und umgerechnet in CO2-Einheiten. 
    </p>
</div>

<div style="text-align: left; margin-top: 20px;">
    <button type="submit" class="btn btn-primary">Weiter</button>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}


