{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Beschreibung von Optionen
{% endblock %}

{% block content %}
<p> Dies ist Runde Nummer {{ round_number }} von {{ Constants.num_rounds }}. </p>

<div class="row">
    <div class="col-6">
        <div style="margin-left:auto; margin-right:auto;">  
            <h3> {{ ADescription }} </h3>
            <img style="width:50%; max-width:200px; " src="{{ APicture }}">  
            <input type="number" name="AChoice" id="achoice" class="form-control" placeholder="g CO2e" />
            {{ formfield_errors 'AChoice' }}
        </div>
    </div>

    <div class="col-6">
        <div style="margin-left:auto; margin-right:auto;">
            <h3 style="text-align:left"> {{ BDescription }} </h3>
            <img style="width:50%; max-width:200px;  margin-right: 2vw;" src="{{ BPicture }}">
            <input type="number" name="BChoice" id="bchoice" class="form-control" placeholder="g CO2e" />
            {{ formfield_errors 'BChoice' }}
        </div>
    </div>
</div>

<div style="text-align: center; margin-top: 20px;">
    <button type="submit" name="submit" id="id_submit" class="btn btn-primary btn-large">Weiter</button>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}




